body {
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    color: rgb(73, 71, 71);
}
/*header */
header {
    position: fixed;
    height: 64px;
    width: 100%;
    z-index: 10;
    background-color: white;
    top: 0px;
}

header  img {
    height: 32px;
    width:auto;
    padding-top: 17px;
    padding-left: 24px;
}
header p {
    display: inline;
    position: absolute;
}
#colmar {
    font-weight: 700;
    color:  rgb(73, 71, 71);
    font-size: 20px;
}
#academy {
    font-weight: 300;
    color: gray;
    font-size: 20px;
    padding-left: 82px;
    }

header ul {
    margin: 24px;
    display: inline;
    float: right;
}
header ul li {
    display: inline;
    padding: 16px;
}
/*section start */
.start {
    display: inline-block;
    background-color: lightgray;
    padding-top: 56px;
    margin-top: 0;
    list-style: none;
    
    }
.start img {
    padding: 32px 24px;
    width: 60%;
    float: left;
}
.start p {
    margin-top: 0;
    }
.start h1 {
    padding-top: 100px;
}
.start ul {
    padding-left: 0;
}
#button {
  background-color: rgb(73, 71, 71);
  border: none;
  color: white;
  padding: 8px 70px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}